<!DOCTYPE html>
<html>

<head>
	<title>mail</title>
	<meta charset="utf-8">
</head>

<body style="margin: 0px; padding: 0px;">
<table style="line-height:1.2; border:0; border-collapse:collapse;border-spacing:0; margin:0 auto; padding:0; font-size:100%; font:inherit; font-family: 'Noto Sans KR', sans-serif; vertical-align:middle; border: 1px solid #e0e0e0;" width="790">
	<tbody style="box-shadow: 1px 3px 30px #efefef; border: 1px solid #efefef;">
	<tr style="width:790px; width: 100%; background: #fff;">
		<td colspan="5" style="vertical-align:bottom; height:60px; padding: 20px 55px 0px;">
			<a href="$webUrl">
				<!--<img src="http://cmedgn.cmesoft.co.kr:801/planbit_mail/images/planbit_logo.png" width="160" height="42" alt="" />-->
				<img src="$bi" width="160" height="42" alt="" />
			</a>
		</td>
	</tr>

			<!--타이틀부분-->
			<tr>
				<td width="12"></td>
				<td colspan="3" style="font-size:30px; color:#000; font-weight:bold; padding: 15px 20px 0px 25px; position: relative; vertical-align: middle;">
					<table style="width: 715px;">
						<tr>
							<th style="text-align: left;">
								<span style="font-size:30px; vertical-align: middle; display: inline-block;">
									<span style="color: #176096;">안녕하세요. 플랜비트입니다.</span>
								</span>
							</th>
							<td style="text-align: right;"></td>
						</tr>
					</table>
				</td>
				<td style="width:12px;"></td>
			</tr>
			<tr>
				<td colspan="5" height="10"></td>
			</tr>

			<tr style="margin: 0 auto;">
				<td colspan="5" height="115" style="margin: 0 auto;">
					<table style="border: 3px solid #ecf0f2; width: 710px; margin-left: 38px; font-size: 16px; line-height: 36px;">
						<tr>
							<!--<td style="padding: 10px 15px;">
								(${clientNm})$login6<br>
								<span>[$login7]${sysdate}</span>
							</td>-->
							<td style="padding: 10px 15px;">
								플랜비트 거래 확인 시스템에서 비정상적인 거래로 추정되는 계정이 발견되어<br>
								해당 계정에 대해 로그인 및 서비스가 제한되었습니다.<br><br>

								해당 조치가 적용된 계정은 전체 거래 내역을 조사할 예정이며,<br>
								계정 정상화를 원하실 경우 하기와 같이 소명 절차를 진행해 주시기 바랍니다.<br><br>

								[소명 절차]<br>
								- 경로: 웹사이트 > 고객센터 > 인증자료제출 > 본인인증 > 계정잠금/해제요청<br>
								- 소명자료1: 신분증 업로드, 신분증 들고있는 본인 이미지 업로드<br>
								- 사유: 계정 해제를 위한 소명 접수(사유가 상이할 경우 처리가 가능하지 않습니다.)<br><br>

								단, 1인 1계정만 사용이 가능하므로 실 사용을 원하시는 계정으로 접수하시기 바랍니다.<br>

								제한 계정에 대한 문의사항이 있으실 경우 1:1문의를 통해 접수해 주시면<br>
								담당자 확인 후 답변 드리겠습니다.<br><br>

								감사합니다.<br>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="5" height="10"></td>
			</tr>

			<tr>
				<td colspan="5" style="font-size:15px; color:#000; padding: 10px 60px 20px;">
					$title1
				</td>
			</tr>

			<tr>
				<td colspan="5" height="20"></td>
			</tr>

			<!-- 하단부분 -->
			<tr style="height:85px; background: #ecf0f2;">
				<td colspan="5" style=" font-size:12px; color:#616161; padding: 15px 58px;">
					<ul style="list-style: none; margin: 0; padding: 0;">
						<li style="margin-bottom: 3px;">
							$title2
							<a href="$mailFrom" style="text-decoration: none; color:#616161; font-weight: bold;">$mailFrom</a>
							$title4
						</li>
						<li>
							$title7
							<!--© 2019 {거래소명} PTY Ltd. All rights reserved-->
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>