<!DOCTYPE html>
<html>

<head>
	<title>mail</title>
	<meta charset="utf-8">
</head>

<body style="margin: 0px; padding: 0px;">
<table style="line-height:1.2; border:0; border-collapse:collapse;border-spacing:0; margin:0 auto; padding:0; font-size:100%; font:inherit; font-family: 'Noto Sans KR', sans-serif; vertical-align:middle; border: 1px solid #e0e0e0;" width="790">
	<tbody style="box-shadow: 1px 3px 30px #efefef; border: 1px solid #efefef;">
	<tr style="width:790px; width: 100%; background: #fff;">
		<td colspan="5" style="vertical-align:bottom; height:60px; padding: 20px 55px 0px;">
			<a href="$webUrl">
				<!--<img src="http://cmedgn.cmesoft.co.kr:801/planbit_mail/images/planbit_logo.png" width="160" height="42" alt="" />-->
				<img src="$bi" width="160" height="42" alt="" />
			</a>
		</td>
	</tr>

	<!--타이틀부분-->
	<tr>
		<td width="12"></td>
		<td colspan="3" style="font-size:25px; color:#000; font-weight:bold; padding: 5px 0 0 5px; padding-left: 25px; color:#4775a9;">
		$card1
		</td>
		<td width="12"></td>
	</tr>

	<tr>
		<td colspan="5" height="20"></td>
	</tr>

	<tr>
		<td width="12"></td>
		<td colspan="3" style="font-size:13px; padding-left:25px;">
			$card2
		</td>
		<td width="12"></td>
	</tr>


	<tr>
		<td colspan="5" height="4"></td>
	</tr>


	<tr>
		<td width="12"></td>
		<td colspan="3" style="height: 60px; font-size:13px; text-align: center; padding: 0 25px;">
		<a style="color: #fff; text-decoration: none; display: block; background: #4775a9;  font-weight: bold; padding: 10px 0; width:700px; height:30px; line-height: 2.2;" href="$webUrl/bt.mypage.cardMail.dp/proc.go?userEmail=$userEmail&orderId=$orderId">
				$card3</a>
		</td>
		<td width="12"></td>
	</tr>

	<tr>
		<td width="12"></td>
		<td colspan="3" style="font-size:13px; padding-left:25px;">$card4</td>
		<td width="12"></td></tr>
	<tr>
	<tr>
		<td colspan="5" height="4"></td>
	</tr>
	<tr>
	<td width="12"></td>
		<td colspan="3" style="font-size:17px; padding-left:25px;  font-weight:bold;">$card5</td>
	<td width="12"></td>
	</tr>
	<tr>
	<td width="12"></td>
		<td colspan="3" style="font-size:14px; padding-left:25px;  font-weight:bold;">$card6</td>
	<td width="12"></td>
	</tr>
	<tr>
	<td width="12"></td>
		<td colspan="3" style="font-size:14px; padding-left:25px;">$card7</td>
	<td width="12"></td>
	</tr>
	<tr>
		<td colspan="5" height="4"></td>
	</tr>
	<tr>
	<td width="12"></td>
		<td colspan="3" style="font-size:15px; padding-left:25px;  font-weight:bold;">$card8</td>
	<td width="12"></td>
	</tr>
	<tr>
	<td width="12"></td>
		<td colspan="3" style="font-size:14px; padding-left:25px;">$card9</td>
	<td width="12"></td>
	</tr>
	<tr>
		<td colspan="5" height="4"></td>
	</tr>
	<tr>
		<td width="12"></td>
		<td colspan="3" style="font-size:17px; padding-left:25px; font-weight:bold;">$card10</td>

	<td width="12"></td>
	</tr>
	<tr>
		<td colspan="5" height="4"></td>
	</tr>
	<tr>
		<td width="12"></td>
		<td colspan="3" style="font-size:15px; padding-left:25px;">$card11</td>
		<td width="12"></td>
	</tr>
	<tr>
		<td width="12"></td>
		<td colspan="3" style="font-size:14px; padding-left:25px; font-weight:bold;">$card12</td>
		<td width="12"></td>
	</tr>
	<tr>
	<td width="12"></td>
		<td colspan="3" style="font-size:14px; padding-left:25px; ">$card13</td>
	<td width="12"></td>
	</tr>
	<tr>
		<td colspan="5" height="4"></td>
	</tr>
	<tr>
		<td colspan="5" height="4"></td>
	</tr>
	<tr>
	<td width="12"></td>
	<td colspan="3" style="font-size:14px; padding-left:25px;  font-weight:bold;">$card14</td>
	<td width="12"></td>
	</tr>
	<tr>
		<td width="12"></td>
		<td colspan="3" style="font-size:15px; color:#000; padding: 15px 0 10px 5px; padding-left: 28px;">
			$title1
		</td>
		<td width="12"></td>
	</tr>
	<tr>
		<td colspan="5" height="40"></td>
	</tr>


	<!-- 하단부분 -->
	<tr style="height:85px; background: #ecf0f2;">
		<td colspan="5" style=" font-size:12px; color:#616161; padding: 15px 58px;">
			<ul style="list-style: none; margin: 0; padding: 0;">
				<li style="margin-bottom: 3px;">
					$title2
					<a href="$mailFrom" style="text-decoration: none; color:#616161; font-weight: bold;">$mailFrom</a>
					$title4
				</li>
				<li>
					$title7
					<!--© 2019 {거래소명} PTY Ltd. All rights reserved-->
				</li>
			</ul>
		</td>
	</tr>
	</tbody>
</table>

</body>
</html>